out/
build/
*.iml
*.iws
*.ipr
.DS_Store
.gradle/
/.classpath
/.project
.settings/
.idea/
/bin/
/database/
/src/test/generated
classes
generated/
*~
/.jenkins*
!build.gradle

**/target

commons-test/generated
fitnesse/FitNesseRoot/files/
/charts/
/docker-compose/.env
/docker-compose/.rabbitmq
.vscode
.settings
.project
.classpath
bin
whitesource
run_ws.sh
/test/build
/test/real